<a href="https://colab.research.google.com/github/Aliasss/programmers/blob/master/%ED%94%84%EB%A1%9C%EA%B7%B8%EB%9E%98%EB%A8%B8%EC%8A%A4_%EB%AC%B8%EC%A0%9C%ED%92%80%EC%9D%B4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
left = 24
right = 27
answer = 0

for a in range(left, right+1):
    n = 0
    li = []

    while n <= a:
        n += 1
        if a % n == 0:
            li.append(n)
        else:
            continue
    print(li)
    if len(li) % 2 == 0: 
        answer += a
    else:
        answer -= a

answer

[1, 2, 3, 4, 6, 8, 12, 24]
[1, 5, 25]
[1, 2, 13, 26]
[1, 3, 9, 27]

52

## 2021 카카오 채용연계형 인턴십 > 숫자 문자열과 영단어
https://programmers.co.kr/learn/courses/30/lessons/81301

In [ ]:
d = {0:'zero', 1:'one', 2:'two', 3:'three', 4:'four', 5:'five', 6:'six', 7:'seven', 8:'eight', 9:'nine'}
s = 'one4seveneight'

for i, j in d.items():
    s = str(i).join(s.split(j))
    

s = int(s)
s

1478

## Summer/Winter Coding(~2018) > 예산
https://programmers.co.kr/learn/courses/30/lessons/12982

In [ ]:
d = [100]
budget = 101
result = 0

while budget >= min(d):
    if min(d) <= budget:
        result += 1
        budget -= min(d)
        d.remove(min(d))
    
    # 부서가 1개인 경우
    if len(d) == 0:
        break

    # 예산이 0원인 경우
    if budget == 0:
        break

result

1

## Summer/Winter Coding(~2018) > 소수 만들기
https://programmers.co.kr/learn/courses/30/lessons/12977

In [ ]:
from itertools import combinations

# nums의 각 요소는 1 이상
nums = [1, 2, 3, 4]
num_sum = 0
result = 0
check = []

combi = list(combinations(nums, 3))

for i in combi:
    num_sum = sum(i)
    # print(num_sum)
    if num_sum == 3:
        result += 1

    else:
        for i in range(2, int(num_sum ** 0.5) + 1):  # 약수, 제곱근 개념
            if num_sum % i == 0:
                check.append(1)
                continue
            else:
                check.append(0)

        if 1 not in check:
            result += 1

        check = []

result

1

## 연습문제 > 두 정수 사이의 합
https://programmers.co.kr/learn/courses/30/lessons/12912

In [ ]:
a = -1
b = 3
answer = 0
li = []
li.extend([a, b])

def daeso():
    global a, b, answer
    if a > b:
        a, b = b, a
        answer = a
    elif a == b:
        answer = b
    else:
        answer = a

    return a, b, answer

def solution(function):
    a, b, answer = function()
    global li

    if a == b:
        return answer

    elif a < b:
        while answer < b:
            answer += 1
            if answer < b:
                li.append(answer)
            
        answer = sum(li)

    return answer


solution(daeso)

5

## 해시 > 완주하지 못한 선수
https://programmers.co.kr/learn/courses/30/lessons/42576

In [ ]:
# from collections import OrderedDict

# 라스트 인덱스 활용 (효율성 테스트까지 전부 통과하지만 해시를 사용한 방법은 아님)
# def solution(participant, completion):
#     participant.sort()
#     completion.sort()
#     for i in range(len(completion)):
#         if participant[i] != completion[i]:
#             return participant[i]
#     return participant[len(participant)-1]

# 아래 방법은 효율성 테스트 0점
# for i in participant:
#     if i in completion:
#         completion.remove(i)
#     else:
#         print(i)


# 해시(hash)를 활용하자!
# di = {}
# for i in participant:
#     di[hash(i)] = i   # hash(i)를 쓰면 중복된 mislav는 하나만 들어감 -> 딕셔너리를 직접 만들자


# 해시(hash)를 활용하자! (2)
# 이것도 효율성 0점 코드
# participant = ["mislav", "stanko", "mislav", "ana"]
# completion = ["stanko", "ana", "mislav"]
# di = {}
# sum_hash = 0

# for i, j in enumerate(participant):
#     di[i] = j
#     sum_hash += i

# print(di)
# print(sum_hash)

# for i in completion:
#     sum_hash -= list(di.keys())[list(di.values()).index(i)] # 리스트의 index 메소드
#     del di[list(di.keys())[list(di.values()).index(i)]]
#     # di.pop(list(di.keys())[list(di.values()).index(i)])
    
# di[sum_hash]


# collections 모듈 활용
from collections import Counter
# participant = ["mislav", "stanko", "mislav", "ana"]
# completion = ["stanko", "ana", "mislav"]

# part = Counter(participant)
# comp = Counter(completion)

# list(part-comp)[0]


# 해시 사용(단, 해시 충돌 발생시 오류)
participant = ["mislav", "stanko", "mislav", "ana"]
completion = ["stanko", "ana", "mislav"]
answer = ''
temp = 0
dic = {}
for part in participant:
    dic[hash(part)] = part
    temp += int(hash(part))
print(dic)
print(temp)
for com in completion:
    temp -= hash(com)
answer = dic[temp]

print(answer)

{-1227185523046631808: 'mislav', 6666071351599422685: 'stanko', -4070139377909171999: 'ana'}
141560927596987070
mislav

## 연습문제 > 행렬의 덧셈
https://programmers.co.kr/learn/courses/30/lessons/12950

In [ ]:
arr1 = [[1,2],[2,3]]
arr2 = [[3,4],[5,6]]
li = []
answer = []

for i, j in zip(arr1, arr2):
    li = []
    for k in range(len(i)):
        li.append(i[k] + j[k])
    answer.append(li)
    
answer

[[4, 6], [7, 9]]

## 연습문제 > 문자열 내 p와 y의 개수
https://programmers.co.kr/learn/courses/30/lessons/12916

In [ ]:
from collections import Counter
s = "Pyy"
di = Counter(s.lower())
if di['p'] == di['y']:
    print(True)
elif di['p'] != di['y']:
    print(False)
elif (di['p'] == di['y']) & (di['p'] == 0):
    print(True)

False

In [ ]:
s = 'p'
s = s.lower()

if s.count('p') == s.count('y'):
        print(True)
elif s.count('p') != s.count('y'):
        print(False)
elif ('p' not in s) and ('y' not in s):
    print(True)

False

## 연습문제 > 문자열 내 마음대로 정렬하기
https://programmers.co.kr/learn/courses/30/lessons/12915

In [ ]:
from collections import Counter

strings = ["abce", "abcd", "cdx"]
n = 1
di = {}
li = []

# 인덱스 n에 따라 정렬
sorted(strings, key = lambda x: x[n])

# 인덱스 value가 동일한 경우 체크
for i in strings:
    di[i] = i[n]
    li.append(i[n])

count = Counter(li)

# 중복이 있는지 확인
for i, j in di.items():
    try:
        if len(set(li)) < len(li):
            if 

        # 중복 존재하지 않으면 break        
        else:
            break
            

    except Exception as E:
        break

print(di)
print(li)
print(strings)
# if Counter(li)

{'abce': 'b', 'abcd': 'b', 'cdx': 'd'}
['b', 'b', 'd']
['abce', 'abcd', 'cdx']

In [ ]:
Counter(li)

Counter({'b': 2, 'd': 1})

In [ ]:
Counter(li).list(filter(lambda x: x>1, list(Counter(li).values())))[0]

2

In [ ]:
for i, j in Counter(li).items():
    if j == list(filter(lambda x: x>1, list(Counter(li).values())))[0]:
        for i in strings:
            i[n] ==

b

In [ ]:
len(set(li))

2

In [ ]:
bb = [1, 2, 4, 3]
bb.pop(2)
bb.insert(2, 3)
bb

[1, 2, 3, 3]

In [ ]:
bb

[1, 2, 3, 4, 3]

## 같은 숫자는 싫어
https://programmers.co.kr/learn/courses/30/lessons/12906

In [ ]:
arr = [1, 1, 3, 3, 0, 1, 1]
li = []

for i, j in enumerate(arr):
    if i == 0:  # 첫번째 숫자이면
        li.append(j)

    else:
        if j == li[-1]:
            continue
        else:
            li.append(j)

## 문자열 내림차순으로 배치하기
https://programmers.co.kr/learn/courses/30/lessons/12917

In [ ]:
s = "Zbcdefg"
''.join(sorted(s, reverse=True))

'gfedcbZ'

## 부족한 금액 계산하기
https://programmers.co.kr/learn/courses/30/lessons/82612

In [ ]:
price = 3
money = 20
count = 4

answer = money - sum([price*i for i in range(1, count+1)])

if answer < 0:
    answer = abs(answer)
else:
    answer = 0

print(answer)

10

## 서울에서 김서방 찾기
https://programmers.co.kr/learn/courses/30/lessons/12919

In [ ]:
seoul = ['Jane', 'Kim']
answer = f"김서방은 {seoul.index('Kim')}에 있다"
print(answer)

김서방은 1에 있다

## 문자열 다루기 기본
https://programmers.co.kr/learn/courses/30/lessons/12918

In [ ]:
s = "134"
answer = True

if (len(s) == 4) or (len(s) == 6):
    try: 
        s = int(s)
        print(answer)

    except Exception as E:
        answer = False
        print(answer)
else:
    answer = False
    print(answer)

False

## 문자열을 정수로 바꾸기
https://programmers.co.kr/learn/courses/30/lessons/12925

In [ ]:
s = '1234'

answer = int(s)
print(answer)

1234

## 수박수박수박수박수?
https://programmers.co.kr/learn/courses/30/lessons/12922

In [ ]:
n = 3
s = '수박' * 5000

answer = s[:n]
answer

'수박수'

# Level 2

## 스킬트리
https://programmers.co.kr/learn/courses/30/lessons/49993

In [ ]:
skill = 'CBD'
skill_trees = ["BACDE", "CBADF", "AECB", "BDA"]
flag = 0
answer = 0

for i in skill_trees:

0 B
1 A
2 C
3 D
4 E
0 C
1 B
2 A
3 D
4 F
0 A
1 E
2 C
3 B
0 B
1 D
2 A

In [6]:
# a = 'CBD'
# b = 'CBADF'
# s = {}
# ss = {}
# cnt = 0
# li = []

# for i, j in enumerate(a):
#     s[i] = j

# if s[0] in b:
#     for i in s: 
#         ss[b.index(s[i])] = s[i]
#     if s[0] == ss[0]:
        

#     else:
#         cnt += 0
    
# else:
#     cnt += 0

In [ ]:
s

{0: 'C', 1: 'B', 2: 'D'}

In [ ]:
ss

{0: 'C', 1: 'B', 3: 'D'}

## 오픈채팅방 (Level 2)
https://programmers.co.kr/learn/courses/30/lessons/42888?language=python3

In [ ]:
"""
(1) for문으로 record의 요소들을 돌면서 유저 아이디를 모은다.
(2) 유저 아이디별로 닉네임이 어떻게 변화하는지 모은다.
(3) 마지막 닉네임이 result에서 노출된다.
(4) Enter와 Leave에 따라 문자를 출력한다.
"""
record = ["Enter uid1234 Alvin", "Enter uid4567 Nova", "Enter uid1123 Jooie", "Leave uid1234", "Enter uid1255 Eden","Change uid4567 Ryan", "Leave uid1123"]

# def solution(record):
    
user_id = {}
result = []

for i in record:
    if len(i.split()) == 3:
        user_id[i.split()[1]] = i.split()[2]

for act in record:
    for i, j in user_id.items():
        if i == act.split()[1]:
            if act.split()[0] != 'Change':
                if act.split()[0] == 'Enter':
                    result.append(f"{j}님이 들어왔습니다.")
                elif act.split()[0] == 'Leave':
                    result.append(f"{j}님이 나갔습니다.")
print(result)

['Alvin님이 들어왔습니다.', 'Ryan님이 들어왔습니다.', 'Jooie님이 들어왔습니다.', 'Alvin님이 나갔습니다.', 'Eden님이 들어왔습니다.', 'Jooie님이 나갔습니다.']

## 124 나라의 숫자 (Level 2)
https://programmers.co.kr/learn/courses/30/lessons/12899

In [3]:
"""
설계
(1) 1, 2, 4로만 구성
(2) return 숫자: 1, 2, 4, 11, 12, 14, 21, 22, 24, 41, 42, 44, 111, ...
ex. 5 -> 
"""

'\n설계\n(1) 1, 2, 4로만 구성\n(2) \n'

## 구명보트 (Level 2, 탐욕법)
https://programmers.co.kr/learn/courses/30/lessons/42885

In [16]:
from itertools import combinations
people = [70, 50, 80, 50]
limit = 100

# people = sorted(people, reverse=True)
peo = list(combinations(people, 2))

for i in peo:
    print(i)
    sum_i = sum(i)

    if sum_i <= limit:
        limit -= sum_i
        for x in i:
            people.remove(x)
        
        if sum_i == 0:
            
        else:  #

(70, 50)
120
(70, 80)
150
(70, 50)
120
(50, 80)
130
(50, 50)
100
(80, 50)
130

In [12]:
people

[80, 70, 50, 50]

In [20]:
a = (50, 50)
people.remove([x for x in a])

ValueError: ignored

In [21]:
for x in a:
    print(x)

50
50

In [24]:
people.remove(50)

In [25]:
people

[70, 80, 50]

In [29]:
[x for x in (50, 50)]

[50, 50]